* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Tahoma";
}

.App {
  background: orange;
  height: 100%;
  width: 100%;
}
/* Nav Bar */

.Nav-Bar {
  position: sticky;
  z-index: 1;
  top: 0px;
}

.Social-Icon {
  width: 1.2rem;
  height: 1.2rem;
  float: left;
  text-align: center;
  padding: 14px 16px;
  color: white;
  border-right: 0.25px solid white;
}

.Social-Icon:hover {
    background-color: white;
}

.Nav-Bar-Container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: 0.95;
  overflow: hidden;
  border-bottom: 0.25px solid white;
  background: rgba(255, 153, 0);
}

li {
  float: right;
  border-left: 0.25px solid white;
}

li a {
  display: block;
  color: black;
  font-size: 1rem;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}

/* Home Page */
.Home-Page {
  margin: auto;
}

.Intro-Context {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Intro-Image {
  position: relative;
  width: 100vw;
  height: 120vh;
}

.Intro-Writing {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  padding: 20px;
  position: absolute;
  font-size: 1.5em;
  font-family: "Tahoma";
  text-align: center;
}

/* About Page */
.About-Page {
  min-height: 100vh;
  background: white;
  color: black;
}

.About-Container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 8rem;
  margin: 0;
}

.Float-Me-About {
  flex: 1;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: 0.5rem white solid;
  background: white;
  border-radius: 25%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.face {
  width: 100%;
  height: 100%;
}

.About-header {
  font-weight: 600;
  text-align: center;
  padding-top: 2rem;
}

.About-writing {
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem 2rem;
  max-width: 700px;
}
/* Skills Page */
.Skills-Page {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(255, 153, 0);
  padding: 0;
  margin: 0;
  align-items: center;
}

.Skills-Container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.Skills-Header {
  padding: 1rem;
  padding-top: 12rem;
  text-align: center;
}

.Skill {
  flex: 1;
  width: 120px;
  height: 120px;
}
/* Projects */
.Projects-Page {
  background: white;
  text-align: center;
  min-height: 100vh;
  padding-top: 12rem;
}

.Projects-Icon-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  text-align: center;
  align-items: center;
}

.Projects-Text {
  font-size: 1.2rem;
}

.Float-Me-Projects {
  flex: 1;
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  box-sizing: border-box;
  border: 0.5rem white solid;
  background: white;
  border-radius: 25%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

.Project-Info {
  flex: 1;
}
/* Contact Page */
.Contact-Page {
  background: rgba(255, 153, 0);
  min-height: 25vh;
  padding-top: 4rem;
}

.Contact-Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem 1rem;
}

.Contact {
  flex: 1;
  padding: 0.15rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 390px) {
  .Contact {
    font-size: 0.9rem;
  }
  .Skills-Container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-left: 2.7rem;
  }
  li a {
    font-size: 0.75rem;
    padding: 4px 6px;
  }
  .Social-Icon {
    width: 0.8rem;
    height: 0.8rem;
    padding: 4px 6px;
  }
}

@media only screen and (max-width: 490px) {
  li a {
    padding: 6px 8px;
  }
  .Social-Icon {
    padding: 6px 8px;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
